{{> head}}

{{> navbar}}

<div class="container">
  <div class="row">
    <div class="col-8">
      <h1>Aaron Isaacs</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore qui voluptatum perspiciatis praesentium, est,
        culpa minus alias soluta quam commodi distinctio placeat totam assumenda mollitia sit, reprehenderit doloribus
        rem? Autem!
      </p>
    </div>
    <div class="col-4">
      <img src="assets/img/myAvatar.png" class="img-thumbnail" />
    </div>
  </div>
</div>

{{> footer}}
